# Visual Studio Build Output
x64/
Debug/
Release/
*.exe
*.pdb

# Visual Studio Hidden Folders
.vs/

# Project-specific temporary folders
File Man.*/
*.vcxproj.user

#executable files from ffmpeg
ffmpeg.exe
ffplay.exe
ffprobe.exe